<ul class="nav nav-pills">
	<li><a class="nav-link" href="/">Home</a></li>
	<li class="nav-item dropdown">
		<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Admin</a>
		<ul class="dropdown-menu">
			<li><a class="dropdown-item" href="/admin">/admin</a></li>
			<li><a class="dropdown-item" href="/admin-manage">/admin-manage</a></li>
			<li><a class="dropdown-item" href="/new-user">/new-user</a></li>
			<li><a class="dropdown-item" href="/edit-adminm">/edit-adminm</a></li>
			<li><a class="dropdown-item" href="/clients-manage">clients-manage</a></li>
			<li><a class="dropdown-item" href="/new-client">new-client</a></li>
			<li><a class="dropdown-item" href="/machanics-manage">machanics-manage</a></li>
			<li><a class="dropdown-item" href="/new-machanic">new-machanic</a></li>
			<li><a class="dropdown-item" href="/cars-manage">cars-manage</a></li>
			<li><a class="dropdown-item disabled" href="/config">db</a></li>
			<li><a class="dropdown-item disabled" href="/f-config">fdb</a></li>
		</ul>
	</li>

	<li class="nav-item dropdown">
		<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">clients</a>
		<ul class="dropdown-menu">
			<li><a class="dropdown-item" href="client/1">Home</a></li>
			<li><a class="dropdown-item" href="#">Action</a></li>
		</ul>
	</li>

	<li class="nav-item dropdown">
		<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Cars</a>
		<ul class="dropdown-menu">
			<li><a class="dropdown-item" href="/all-cars">/all-cars</a></li>
			<li><a class="dropdown-item" href="/cars/1">/cars/1</a></li>
			<li><a class="dropdown-item" href="/new-car/1">/new-car/:owner</a></li>
			<li><a class="dropdown-item" href="#">Action</a></li>
			<li><a class="dropdown-item disabled" href="/edit-car/1">/edit-car/:owner</a></li>
		</ul>
	</li>

	<li class="nav-item dropdown">
		<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Stuff</a>
		<ul class="dropdown-menu">
			<li><a class="dropdown-item" href="http://localhost:8080/mechanic">Home</a></li>
		</ul>
	</li>

</ul>